.vs/
packages/
TestResults/
RandomCutForest.sln

RandomCutForest/bin/
RandomCutForest/obj/
RandomCutForest/Properties/
RandomCutForest/RandomCutForest.csproj

RandomCutForestTests/bin/
RandomCutForestTests/obj/
RandomCutForestTests/Properties/
RandomCutForestTests/RandomCutForestTests.csproj