.vs/
packages/
Test/
TestResults/
RandomCutForest.sln

RandomCutForest/bin/
RandomCutForest/obj/
RandomCutForest/Properties/
RandomCutForest/RandomCutForest.csproj
RandomCutForest/RandomCutForest.csproj.user

RandomCutForestTests/bin/
RandomCutForestTests/obj/
RandomCutForestTests/Properties/
RandomCutForestTests/RandomCutForestTests.csproj